<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/output.css">
</head>

<body>
    <div class="container pt-5 pl-5 bg-[#17161B] h-full min-h-[100vh] w-full">
        <button class="border bg-white hover:bg-gray-100 text-black font-bold py-2 px-4 rounded">
            Button
        </button>

        <button class="text-white bg-[#159A6B] hover:bg-green-600 font-bold py-2 px-4 rounded">
            Button
        </button>

        <button class="text-white font-bold py-2 px-4 rounded-lg bg-button-blue bg-striped bg-size-stripes shadow-lg">
            Button
        </button>

        <button class="text-black font-bold py-2 px-4 rounded-lg bg-yellow-300">Button</button>

        <button class="text-white font-bold py-2 px-4 rounded-lg bg-[#212124]">Button</button>
        
        <button class="text-white font-bold py-2 px-4 rounded-lg bg-[#17161B] border border-gray-500 border-dashed">Button</button>
        
        <button class="btn-gradation">
            Button
        </button>

        <button class="btn-rainbow">Button</button>
    </div>
</body>

</html>