<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
</head>
<body>
    <p class="text-red-400 text-lg font-mono font-bold leading-6">PFinalClub</p>
    <li class="list-decimal underline">1</li>
    <li class="list-disc overline">2</li>
    <li class="list-none decoration-blue">3</li>

    <br>

    <!-- 卡片 -->
    <div class="p-6 max-w-sm mx-auto bg-white rounded-xl shadow-md flex items-center space-x-4">
        <div class="flex-shrink-0">
            <img class="h-12 w-12" src="URL_ADDRESS" alt="Workflow">
        </div>

        <div>
            <div class="text-xl font-medium text-gray-900">
                Tailwind CSS
            </div>

            <p class="text-gray-500">
                PFinalClub
            </p>
        </div>
    </div>
</body>
</html>