<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./output.css">
</head>
<body>
    <!-- 渐变色  -->
    <main class="mt-32">
        <div class="border-t grid grid-flow-row justify-items-center bg-gray-100">
            <div class="justify-self-center bg-gradient-to-r from-pink-500 to-blue-500 rounded-lg px-5 py-1 text-center  text-white text-xs ">学习是一种态度，通过不断的学习，实现我们最终的梦想！</div>
        </div>
    </main>
</body>
</html>